.table3_11 table {
	width: 100%;
	margin: 0px auto;
}

.table3_11 th {
	background-color: #1E90FF;
	color: #FFFFFF
}

.table3_11 {
	width: 1720px;
	margin-left: auto;
	margin-right: auto;
}

.table3_11, .table3_11 th, .table3_11 td {
	font-size: 1.2em;
	padding: 4px;
	border: 1px solid #206bfe;
	border-collapse: collapse
}

.table3_11 tr:nth-child(odd) {
	background-color: #b4dafe;
}

.table3_11 tr:nth-child(even) {
	background-color: #fdfdfd;
}