body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 1900px;
	height: 1100px;
	background-image: url(../img/beijing.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.first {
	margin: 0px auto;
	text-align: center;
}

.first img {
	width: 1200px;
	height: 200px;
}

.second {
	margin: 0px auto;
	width: 1200px;
	height: 800px;
}

.second-right {
	background: url(../img/denglu.jpg);
	background-size: 100% 100%;
	float: left;
	width: 1050px;
	height: 755px;
	position: relative;
}

.second-right form fieldset {
	position: absolute;
	left: 350px;
	top: 250px;
	width: 400px;
	height: 200px;
	text-align: center;
}

.third {
	margin: 0px auto;
	text-align: center;
	width: 1200px;
	height: 80px;
	color: blue;
	font-size: 20px;
	font-weight: bold;
}

.second-left {
	width: 148px;
	padding: 0px;
	background-image: linear-gradient(#cbfbb0 2%, #54f1d6);
	opacity: 0.8;
	float: left;
	border: 1px blue solid;
}

.second-left a {
	color: #064afd;
	margin: 0px auto;
	font-size: 26px;
	text-align: center;
	line-height: 90px;
}

.second-left table {
	text-align: center;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: white;
}

.fff span {
	color: #0000ff;
	font-weight: bold;
	font-size: 23px;
}

.fff a:hover {
	text-decoration: none;
	color: blue;
}	

.fff {
	position: absolute;
	left: 400px;
	top: 300px;
	width: 300px;
	height: 80px;
	text-align: center;
}