body {
	margin: 0;
	padding: 0;
	width: 980px;
	height: 1742px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#container {
	width: 980px;
	height: 1742px;
}
.second {
	margin: 0px auto;
	width: 980px;
	height: 1742px;
}

